*{
    margin:0px;
    padding:0px;
    text-decoration:none;
}

@font-face{
    font-family: 'TrebuchetMS';
    src: url('Fonts/TrebuchetMS.ttf');
    font-weight: normal;
    font-style:normal;
}

@font-face{
    font-family: 'BebasNeue';
    src: url('Fonts/BebasNeue.otf');
    font-weight:normal;
    font-style:normal;
}

@font-face{
    font-family: "WebSymbolsRegular";
    src: url('Fonts/websymbols-regular-webfont.eot');
    src: url('Fonts/websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Fonts/websymbols-regular-webfont.woff') format('woff'),
         url('Fonts/websymbols-regular-webfont.ttf') format('truetype'),
         url('Fonts/websymbols-regular-webfont.svg#WebSymbolsRegular') format('svg');
         font-weight: normal;
         font-style: normal;
}

#container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 530px 1fr 1fr 1fr 70px;
    grid-template-areas: 
    "header header header header header"
    "destination destination destination destination destination"
    "info info info info info"
    "articles articles articles aside aside"
    "footer footer footer footer footer";
    height:2000px;
    margin:0px auto;
    background:rgba(250, 248, 248, 0.75);
}

#header{
    grid-area:header;
    flex-wrap: wrap;
    align-items: center;
    color:white;
    background-image: url("Img/obelisco2.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    background-position: center center;
}

.icon{
    font-family: "WebSymbolsRegular";
    font-size:30px;
    padding-bottom:10px;
    animation-name: move-icon;
    animation-duration: 1s;
    animation-iteration-count:infinite;
}

@keyframes move-icon{
    0%{
        transform: translateY(0%);
    }
    
    50%{
        transform: translateY(5px);
    }
    
    100%{
        transform: translateY(0%);
    }
}

#header h1{
    text-align:center;
    text-shadow: 0px 0px 5px gray;
    font-size:50px;
    font-family: 'BebasNeue';
    letter-spacing:3px;
    line-height:530px;
    margin-bottom:-85px;
}

.search{
    text-align:center;
    align-items:center;
    border:1px solid #ccc;
    height:60px;
    background-color:white;
    margin-left:15%;
    line-height:40px;
    width:70%;
    background:#26353cc0;
    border-radius:px;
}

.search input[type="text"]{
    width:60%;
    height:30px;
    margin-top:18px;
    background:transparent;
    color:#ccc;
    transition:all 300ms;
    border:1px solid #ccc;
    background:white;
}

.search input[type="text"]:focus{
    color:#555;
    font-size:15px;
}
.search input[type="submit"]{
    background-color:#E90E35;
    color:white;
    border:none;
    height:32px;
    width:80px;
    cursor:pointer;
    font-size:16px;
    font-weight:bold;
}

.search input[type="submit"]:hover{
    background-color:#37bcf9;
}

#menu{
    display:flex;
    justify-content: center;
    padding-right:20px;
    height:50px;
}

 #menu > ul{
    list-style:none;
    text-align:center;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    background:transparent;
}

 #menu > ul > li{
    height:40px;
    line-height:40px;
    margin: 0px 70px 0px 70px;
}

 #menu > ul > li > a{
    color: white;
    text-transform:uppercase;
    display:flex;
    font-family: 'BebasNeue';
    font-size:22px;
    transition: all 300ms;
    text-decoration:none;
    text-shadow: 0px 0px 4px #444;
}

#menu > ul > li > a:hover{
    color:#37bcf9;
    transform: scale(1.2, 1.2);
}

#menu > ul > li > ul{
    display:none;
    position:absolute;
    z-index:1;
    list-style:none;
}

#menu > ul > li:hover > ul{
    display:block;
}

#menu > ul > li:hover > ul > li{
    border-bottom:1px solid gray;
}

#menu > ul > li:hover > ul > li > a{
    color: white;
    text-transform:uppercase;
    display:flex;
    font-family: 'BebasNeue';
    font-size:20px;
    transition: all 300ms;
    text-shadow: 0px 0px 4px #444;
    text-decoration:none;
    transition: all 300ms;
}

#menu > ul > li:hover > ul > li a:hover{
    color:#37bcf9;
    padding-left:10px;
}

#destination{
    grid-area:destination;
    margin-top:30px;
    margin-bottom:50px;
 
    height:520px; 
}

#destination h2{
    margin-top:30px;
    margin-bottom:30px;
    text-align:center;
    font-size:25px;
    font-family: 'TrebuchetMS';
    letter-spacing:3px;
    text-shadow:0px 0px 4px white;
    color:#E90E35; 
}

#places{
    display:flex;
    justify-content:center;
    
}

#content{ 
    border:1px solid gray;
    box-shadow:0px 0px 3px #444;
    height:350px;
    width:270px;
    overflow:hidden;
    align-self:center;
    margin:25px;
}

#slides input{
    display:none;
}

#slides{
    width:300%;
    height:100%;
    display:flex;
    animation: cambio 15s infinite;
}

.slide{
    width:33.33%;
    transition: .5s;
}

@keyframes cambio{
    0%{margin-left: 0;}
        
    25%{margin-left: -100%;}

    50%{margin-left: -200%;}

    75%{margin-left: -100%;}

    100%{margin-left: 0;}
}

.slide img{
    width:100%;
    height:100%;
}


#destination input[type="button"]{
    position:absolute;
    background-color:#E90E35;
    border-radius:10px;
    border:1px solid white;
    width:155px;
    height:30px;
    transition:all 300ms;
    margin:10px;
    transform: translate(-10%, -170%);
    color:white;
    margin-left:75px;
    font-size:16px;
    font-family: 'TrebuchetMS';
    font-weight:bold;
    cursor:pointer;
}

#destination input[type="button"]:hover{
    color:#37bcf9;
    background-color:white;
}

#info{
    grid-area:info;
    text-align:center;
    margin:20px;
    height:250px;
    margin-right:15px;
    margin-left:15px;  
    margin-bottom:60px;
}

#reasons{
    text-align:center;
    justify-content:center;
    display:inline-flex;
    margin: 30px;
}

.reason{
    margin: 0px 50px 0px 50px;
}

.reason .icon {
    color:#37bcf9;
    font-size:35px;
    
}

.reason h4{
    color:#00538c;
    font-weight:bold;
    font-family: 'TrebuchetMS';
    font-size:18px;
    letter-spacing:3px;
    margin:10px; 
}

.reason p{
    color:#444;
    font-size:15px;
    font-family: 'TrebuchetMS';
    margin:10px;
}

#legend{
    display:block;
    font-weight:bold;
    font-family: 'BebasNeue';
    font-size:27px;
    text-align:center;
    padding:5px;
    color:#00538c;
    letter-spacing:3px;
    text-shadow:0px 0px 3px white;
}

#articles{
    grid-area:articles;
}

#articles h2{
    background-color: #E90E35;
    border:1px solid white;
    height:40px;
    line-height:40px;
    width:95%;
    text-align:center;
    color:white;
    font-family: 'BebasNeue';
    box-shadow:0px 1px 0px #37bcf9, 1px 2px 0px #37bcf9, 2px 3px 0px #37bcf9, 3px 4px 0px #37bcf9;
    margin:0px auto;
    margin-bottom:25px;
    font-size:30px;
    letter-spacing:2px;
}

#articles article{
    width:90%;
    height:auto;
    border:1px solid #ccc;
    margin:20px auto;
    overflow:hidden;
    padding:10px;
    font-family: 'TrebuchetMS';
    background: white;
    color:black;
    box-shadow:1px 1px 2px solid #ddd;
}

#articles article h4{
    display:block;
    font-size:16px;
    margin:3px;
    margin-top:20px;
    margin-bottom:10px;
}

#articles article h4 a{
    text-decoration:none;
    color:#00538c;  
}

#articles article h4 a:hover{
    color:#E90E35;
}

#articles article p{
    margin-top:10px;
    margin-bottom:30px;
    font-size:14px;
    color: #666666;
}

#articles .date{
    float:right;
    background:#393d3f;
    color:white;
    height:15px;
    line-height:15px;
    margin:-10px;
    padding:4px;
    font-size:12px;
    border-radius: 0px 0px 0px 5px;
    margin-bottom:20px;
}

#articles .date span{
    margin:5px;
}

.image{
    float:left;
    width:200px;
    height:150px;
    margin-right:5px;
}

#more{
    text-align:center;
    margin:10px;
    margin-top:-10px;
    animation-name: Move-more;
    animation-duration: 1s;
    animation-iteration-count:infinite;
}
#more a{
    color:#E90E35;
    font-family: 'BebasNeue';
    font-size:20px;
    letter-spacing:3px;
}

@keyframes Move-more{
0%{
    transform: translateY(0%);
}

50%{
    transform: translateY(5px);
}

100%{
    transform: translateY(0%);
}
}

#more a:hover{
    text-decoration:underline;
}

#aside{
    grid-area:aside;
    padding:5px;
    background-image: linear-gradient(to right,#E90E35, #37bcf9);
}

#aside h3{
    background-color: #37bcf9;
    border:1px solid white;
    height:40px;
    line-height:40px;
    width:90%;
    text-align:center;
    color:white;
    font-family: 'BebasNeue';
    box-shadow:0px 1px 0px #E90E35 , 1px 2px 0px #E90E35 , 2px 3px 0px #E90E35 , 3px 4px 0px #E90E35 ;
    margin:0px auto;
    margin-bottom:15px;
    font-size:25px;
    letter-spacing:2px;
}

#contact input[type="text"],
#contact input[type="email"],
#message{
    display:block;
    margin:0px auto;
    margin-top:20px;
    margin-left:20px;
    font-size: 'TrebuchetMS';
    font-size:15px;
    border:none;
    width:90%;
    height:40px;
    background: none;
    border:none;
    border-bottom:1px solid lightgray;
    outline:none;
}

#contact input[type="submit"]{
    background-color:#E90E35;
    border:1px solid white;
    width:100px;
    height:30px;
    border-radius:10px;
    font-size:16px;
    font-family: 'TrebuchetMS';
    font-weight:bold;
    cursor:pointer;
    text-transform:uppercase;
    color:white;
    margin:20px;
    display:block;
    line-height:30px;
    margin-left:40%;
}

#contact input[type="submit"]:hover{
    background-color:#37bcf9;
}

#social a{
    display:block;
    text-decoration:none;
    color:#333;
    margin-left:50px;
    margin-top:25px;
    margin-bottom:20px;
}

#social .overlay{
    display:block;
    height:20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold;
    font-size:15px;
    letter-spacing:1px;
    text-shadow: 0px 0px 1px #ccc;
    border:1px solid white;
    box-shadow:0px 0px 4px #ccc;
    background: #E90E35;
    color:white;
    position:absolute;
    padding:5px;
    margin-left:120px;
    margin-top:-60px;
    cursor:pointer;
    transform:translateX(-80%);
    opacity:0;
    transition: all 400ms;
}

#social div:hover .overlay{
    opacity:1;
    transform: translateX(0%);
}

#aside #social img{
    width:45px;
    height:45px;
}

#footer{
    grid-area:footer;
    background: #161C1A;
}

#footer p{
    color:white;
    text-align:center;
    margin-top:10px;
}

#footer #info{
    text-align:center;
    margin:10px;
}

#footer #info p{
    margin:5px;
    font-family: 'TrebuchetMS'
}



/*RESPONSIVE WEB DESIGN*/

@media (max-width: 428px){

#header h1{
    font-size:35px;
}

#menu > ul > li{
    display:block;
    margin: 0px 15px 0px 15px !important;
}

#menu > ul > li > a{
    display:block;
    font-size:21px;
}

#menu > ul > li:hover > ul > li > a{
    font-size:18px;
}

#menu .icon{
    position:absolute;
    left:45%;
    top:25%;
}


#articles{
    position:relative;
    margin-top:70px;
}

#articles .article{
    display:block;
    text-align:center;
    height:auto;
}

.article p{
    display:flex;
    flex-wrap:wrap;
    flex-direction:column;
    justify-content:center;
}

#aside{
    height:auto !important;
}

}


@media (max-width: 575.98px){


#menu > ul > li{
    margin: 0px 35px 0px 35px !important;
}

#menu{
    justify-content:flex-start;
}

}

@media (max-width: 767.98px) {

#menu > ul > li{
    margin: 0px 50px 0px 50px;
}

#info{
    grid-area:info;
    text-align:center;
    margin:0px auto;
    height:auto;
}

#reasons{
    flex-wrap:wrap;
    flex-direction:row;
    margin: 30px;
}

.reason{
    margin-top:20px;
}

#articles{
    margin-bottom:20px;
}
}


@media (max-width: 810px){
#container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 530px 1680px 580px 1fr 1fr 70px;
    grid-template-areas: 
    "header header header header header"
    "destination destination destination destination destination"
    "info info info info info"
    "articles articles articles articles articles"
    "aside aside aside aside aside"  
    "footer footer footer footer footer";
    height:auto;
    margin:0px auto;
}

#menu > ul > li{
    margin: 0px 50px 0px 50px;
}
    
#destination{
    
    height:auto; 
}
    
#destination h2{
    font-size:21px;
    margin-top:30px;
}
    
#places{
    flex-wrap:wrap;
}
    
#content{ 
    height:450px;
    width:350px;
    margin:30px;
}
    
#destination input[type="button"]{
    width:180px;
    height:35px;
    transform: translate(12%, -180%);
    font-size:18px;
}
    
#info{
    grid-area:info;
    text-align:center;
    margin:0px auto;
    height:auto;
}
    
#reasons{
    flex-wrap:wrap;
    flex-direction:row;
    margin: 30px;
}
    
.reason{
    margin-top:20px;
}
    
#articles{
    margin-bottom:20px;
}
    
#aside h3{
    margin-top:25px;
}

}

@media (max-width: 991.98px) {

.reason h4{
    font-size:16px;
}

.reason p{
    font-size:14px;
}

#articles article h4{
    font-size:14px;
    text-align:center;
    padding-top:20px;
    padding-bottom:20px;
    padding-left:5px;
    padding-right:5px;
}

#articles article p{
    font-size:12px;
    margin-top:-15px;
    text-align:center;
}

}

@media (max-width: 1199.98px) {

#places{
    display:flex;
    justify-content:center;
    line-height:520px;
    margin:0px auto;
}

}

@media (max-width: 1399.98px) {

#articles article h4{
    font-size:16px;
    text-align:center;
    padding-top:15px;
    padding-bottom:10px;
    padding-left:5px;
    padding-right:5px;
    width:100%;
}


#places{
    display:flex;
    justify-content:center;
}


}

@media (max-width: 428px){
    
#menu > ul > li{
    display:block;
    margin: 0px 20px 0px 20px !important;
}

}